p.test {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

p.test1 {
    height: 50px;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}